.progress-bar {
    width: 100%;
    background-color: #eee;
    border-radius: 12px;
    height: 12px;
    margin-top: 5px;
}

.progress {
    height: 12px;
    background-color: #f7931a;
    border-radius: 12px;
    width: 0%;
}
